@page "/"

<PageTitle>Algorand WebAssembly Test</PageTitle>

<h1>Algorand WebAssembly</h1>

<p class="mt-3">
    This is a demo app testing the .NET SDK compiled to WebAssembly.
</p>
<p>
    This is a Blazor app using the WASM Algorand SDK directly from the browser.
</p>
<p>
    It assumes you have a node available. Enter your sandbox details in the Payment page. Do not use this with real Algos.
</p>
    

    






